@media (min-width: 768px) and (max-width: 1024px) {
  main {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-centre a {
    font-size: 11px;
  }

  div.main-section1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  div.insights1 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .insights1 p {
    font-size: 19px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 17em;
  }

  span.insights {
    position: relative;
    top: 200px;
  }

  div.section1-icons {
    position: relative;
    top: 200px;
  }

  div.insights1 p {
    font-size: 30px;
  }

  section.latest-news,
  div.index,
  section.latest-adverts,
  section.latest-deals {
    display: grid;
    grid-template-columns: auto auto;
  }

  section.latest-funding {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1195px) {
  main {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  div.side-section1 {
    width: 100%;
  }

  div.insights2,
  div.insights3 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  div.insights1 p {
    font-size: 45px;
  }

  div.insights2 p {
    font-size: 25px;
  }

  section.side-section1 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  section.latest-news,
  div.index,
  section.latest-adverts,
  section.latest-deals,
  div.main-section1,
  div.side-section1 {
    display: grid;
    grid-template-columns: auto;
    width: auto;
    margin: 0;
    padding: 0;
  }

  span.insights {
    position: relative;
    top: 160px;
  }

  div.insights1,
  div.insights2,
  div.insights3 {
    width: 100%;
    background-size: cover;
    height: 300px;
    margin: 0;
    padding: 0;
  }

  div.insights2 {
    margin-bottom: 7px;
  }

  div.insights3 {
    padding-left: 15px;
  }

  span.insights3-title {
    position: relative;
    top: 140px;
  }

  div.insights3 p {
    position: relative;
    top: 130px;
  }

  div.insights3-icons {
    position: relative;
    top: 100px;
  }

  header {
    font-size: 12px;
  }

  div.insights1 {
    margin-bottom: 10px;
    width: 100%;
    background-size: cover;
    padding-left: 15px;
  }

  div.insights1 p {
    font-size: 30px;
    top: 140px;
  }

  div.section1-icons {
    position: relative;
    top: 120px;
  }

  div.news1 img {
    width: 100%;
    height: auto;
  }

  div.news1 {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  div.hr {
    width: 70%;
  }

  section.news-heading,
  section.deals-heading {
    margin: 0;
    padding: 2px;
  }

  div.heading {
    font-size: 10px;
    font-weight: bold;
  }

  div.left-heading {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
}

h1 {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
}

.left-main-nav {
  float: left;
  margin-left: 0;
  padding-left: 0;
}

.right-main-nav {
  float: right;
}

.left-main-nav ul,
.nav-centre ul {
  padding-left: 1em;
}

.left-main-nav li,
.right-main-nav li,
.nav-centre li {
  display: inline-block;
  margin-right: 1em;
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.nav-centre {
  background-color: #fefefe;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.nav-centre a {
  text-decoration: none;
  font-size: 1em;
  color: #7e7e7e;
}

.centre-nav-icon {
  border-left: 1px solid #ececec;
  padding-left: 1em;
}

.nav-centre i {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  margin-top: 1.3em;
  margin-right: 1em;
  color: #7e7e7e;
}

.nav-centre ul {
  margin-top: 1.3em;
}

.news1 a {
  position: relative;
  top: 5px;
  color: black;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
}

.banking a {
  text-decoration: none;
  color: #6b6968;
  margin-bottom: 5px;
}

.most-popular a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -20px;
  margin-left: 10px;
}

.deals-heading a {
  color: red;
  text-decoration: none;
  font-size: 15px;
}

.footer-links a {
  text-decoration: none;
  color: grey;
  padding-right: 10px;
  font-family: Shentox, Arial, Helvetica, sans-serif;
}

.index1 li a {
  color: #6b6968;
  text-decoration: none;
  font-size: 13px;
}

.latest-adverts1 li {
  border-bottom: 1px solid #dcdcdc;
  padding-top: 5px;
  padding-bottom: 5px;
}

.latest-adverts1 li a {
  text-decoration: none;
  line-height: 1em;
  color: #898989;
  margin-left: 5px;
  font-size: 14px;
}

.deals-heading h3 a {
  font-size: 25px;
  font-weight: bolder;
}

.nav-centre a:hover {
  color: black;
}

.last-nav {
  background-color: #fd3;
  padding-top: 0.6em;
  padding-left: 1em;
  margin-bottom: 0.3em;
}

.last-nav-icon {
  margin-left: 10px;
}

.last-nav i {
  font-size: 12px;
}

.main-section1 {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-left: 10px;
}

.insights1 {
  position: relative;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/gender-equality--796x417.png");
  background-size: cover;
  background-color: transparent;
  padding-left: 10px;
  color: white;
  width: 100%;
}

.date {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}

.insights {
  position: relative;
  top: 250px;
}

.insights1 p {
  font-size: 3.5em;
  font-weight: bolder;
  color: white;
  position: relative;
  top: 220px;
}

.section1-icons {
  position: relative;
  top: 170px;
  color: #9a9a9a;
}

.section1-icons i {
  margin-right: 1em;
}

.side-section1 {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0;
  width: 100%;
}

.insights2 {
  width: 100%;
  height: 14em;
  margin-bottom: 0.8em;
  background-image: url("https://image.shutterstock.com/image-photo/silhouettes-concert-crowd-front-bright-260nw-214402048.jpg");
}

.insights2 p {
  color: white;
  margin-top: 0;
  font-weight: bolder;
  font-size: 1.7em;
  padding-left: 1em;
  padding-top: 4em;
}

.insights3 {
  height: 14em;
  background-image: url("https://images.theconversation.com/files/317098/original/file-20200225-24680-8cth84.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip");
  background-size: cover;
  color: white;
  padding-left: 10px;
}

.insights3-title {
  position: relative;
  top: 50px;
}

.insights3 p {
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  top: 40px;
}

.insights3-icons span {
  margin-left: 5px;
  position: relative;
  top: 25px;
}

.insights3 span {
  margin-top: 20px;
}

.adverts {
  height: 150px;
  background-color: #fff;
}

.news-heading {
  color: red;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 100px;
}

.latest-news {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.news1 img {
  width: 100%;
  height: 150px;
}

.news1 a:hover {
  color: red;
}

.news1 span {
  position: relative;
  bottom: -10px;
  font-size: 13px;
  color: #7c7c7c;
}

.latest-funding {
  margin: 50px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #fff;
}

.heading {
  color: #f42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -30px;
}

.left-heading {
  font-weight: bold;
  font-size: 27px;
}

.index {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.index1 {
  height: 300px;
}

.index1 img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 80px;
  left: 30px;
}

.index1 h4 {
  background-color: #f42;
  padding: 10px;
  color: white;
  font-family: Avalon, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding-left: 100px;
}

.index1-spans {
  background-color: #ffebe7;
  padding-left: 100px;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 20px;
}

.index1-spans h3 {
  display: block;
  font-weight: bolder;
  font-family: Avalon, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.index1-spans span {
  font-family: Shentox, Arial, Helvetica, sans-serif;
  color: #8c817f;
}

.banking {
  background-color: #fffaf8;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.index1 ul {
  background-color: #fffaf8;
  padding: 13px;
  margin-top: 0;
  border-top: 1px solid #ffcdc2;
}

.index1 li {
  list-style-type: none;
  margin-bottom: 5px;
}

.latest-adverts {
  display: grid;
  margin-right: 100px;
  margin-left: 100px;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.latest-adverts1 h3 {
  font-size: 25px;
  font-weight: bolder;
  color: red;
  margin-left: 15px;
}

.deals-heading a:hover {
  color: black;
}

.deals-heading h3 {
  font-weight: bolder;
  font-size: 20px;
}

.latest-adverts1 h3:hover {
  color: black;
}

.most-popular {
  height: 300px;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/app-store-apple-hed-796x412.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
  color: white;
}

.color-overlay {
  background: linear-gradient(#fff, black);
  height: 100%;
  opacity: 0.75;
}

.most-popular h6 {
  padding-top: 200px;
  margin-bottom: 0;
  margin-left: 10px;
}

.most-popular span,
.most-popular h6 {
  margin-left: 10px;
}

.footer-links a:hover {
  color: white;
}

.latest-adverts1 li a:hover {
  color: black;
}

.latest-adverts1 ul {
  list-style: none;

  padding-left: 5px;
}

.latest-adverts1 ul li::before {
  content: "\2022";
  color: red;
  width: 1em;
}

.hr {
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  margin-bottom: 10px;
}

.latest-image {
  height: 100px;
  margin-bottom: 25px;
  margin-left: 10px;
  padding-left: 8px;
  color: red;
  background-color: #fff4f2;
}

.latest-image img {
  width: 35%;
  height: 100%;
  float: right;
}

.latest-image span {
  font-family: Shentox, Arial, Helvetica, sans-serif;
  position: relative;
  top: 30px;
}

.latest-image p {
  font-family: ARS Maquette, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  position: relative;
  top: 20px;
}

.latest-deals {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.deals-heading {
  display: flex;
  color: red;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
}

.first-footer {
  background-color: #131313;
  height: 150px;
  width: 100%;
}

.footer-icons {
  padding-top: 40px;
  text-align: center;
}

.footer-icons i {
  margin-right: 20px;
  color: white;
}

.footer-links {
  text-align: center;
  margin-top: 20px;
}

.second-footer {
  background-color: #000;
  height: 80px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
